[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
autopep8 = "*"

[packages]
djangorestframework = "==3.10.3"
pygments = "==2.4.2"
django = "==2.2.18"
requests = "*"

[requires]
python_version = "3.7"
