body {
  background: #f5e9d7; }

.header {
  background-color: #228686; 
}

.header h1 {
  font-family: 'Kulim Park', sans-serif;
  margin: 0;
  padding: 2rem;
  color: #ffebcd; }

/* .main_title {
  font-family: 'Kulim Park', sans-serif;
  margin: 0;
  padding: 2rem;
  color: #ffebcd;
} */
.post h2 {
  font-family: 'Kulim Park', sans-serif;
  font-weight: bold; }

.post p:first-child {
  font-style: oblique; }

.new_post {
  color: #228686;
  float: right;
  padding: 1rem;
  margin: 1rem;
  display: block; }

.glyphicon {
  padding-left: 1rem; 
}

.test-input {
  background-color: aliceblue;
  border-radius: 10px;
}
