{% extends 'blog/base.html' %}

{% block content %}
  <div class="post">
    <h2 class="post_title">{{ post.title }}</h2>
    {% if post.published_date %}
      <p class="post_date">Publicado: {{ post.published_date }}</p>
    {% endif %}
      <p>{{ post.text|linebreaksbr }}</p>
      <div class="detail_buttons">
        <a class="btn btn-warning" href="{% url 'post_list' %}">Volver<span class="glyphicon glyphicon-arrow-left"></span></a>
        {% if user.is_authenticated %}
          <a class="btn btn-info" href="{% url 'post_edit' pk=post.pk %}">Editar<span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
      </div>

    <div>
      <a class="typeform-share button" href="https://violeta122801.typeform.com/to/tO8Dy6" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#267DDD;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:13px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-submit-close-delay="3" target="_blank">Encuéstame </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
    </div>
  </div>
{% endblock %}