<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Django Blog</title>
</head>
<body>
  <div>
    <h1>Violeta's Blog</h1>
  </div>
  <div>
    <h3>Le primer post</h3>
    <p>Published: 16.11.2019</p>
    <p>Lorea El Ipsum Anda a laar corte lorea sablazo teni mano? matagatos paquepo del corte asikalao saque fineza la yuta, tolompa los techeka saque tillas de finales terrible de perkin calmao me voy en cana caracho embarao, jato brocacochi zarpao matagatos tapao en joya corte deja ganarme pasa paca coshino ql abrazo pa lo amigo balazo pa lo enemigo choro. Brocacochi choro abrazo pa lo amigo balazo pa lo enemigo a treh deo andai con meao matagatos puro gile tenis mano? jato, puro gile chantar para la mano caracho oe si paquepo conotao.</p>
  </div>
  <div>
      <h3>Le segundo post</h3>
      <p>Published: 16.11.2019</p>
      <p>Lorea El Ipsum Anda a laar corte lorea sablazo teni mano? matagatos paquepo del corte asikalao saque fineza la yuta, tolompa los techeka saque tillas de finales terrible de perkin calmao me voy en cana caracho embarao, jato brocacochi zarpao matagatos tapao en joya corte deja ganarme pasa paca coshino ql abrazo pa lo amigo balazo pa lo enemigo choro. Brocacochi choro abrazo pa lo amigo balazo pa lo enemigo a treh deo andai con meao matagatos puro gile tenis mano? jato, puro gile chantar para la mano caracho oe si paquepo conotao.</p>
    </div>
</body>
</html>